# ==============================================================
#  ChefMatch
# ==============================================================

# ── Keycloak ───────────────────────────────────
KEYCLOAK_ADMIN=           
KEYCLOAK_ADMIN_PASSWORD=  


KEYCLOAK_RECOMMENDATION_SECRET=

# ── User-service ───────────────────────────────────────────────
SESSION_SECRET=                                      "console.log(require('crypto').randomBytes(32).toString('hex'))"
