# ==============================================================
#  ChefMatch
# ==============================================================

# ── Keycloak ───────────────────────────────────
KEYCLOAK_ADMIN=           
KEYCLOAK_ADMIN_PASSWORD=  


KEYCLOAK_RECOMMENDATION_SECRET=


