apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: todo-app
type: Opaque
data:
  # He generado estos valores base64 usando tus URLs anteriores.
  # RABBITMQ_URL: amqp://guest:guest@rabbitmq-service:5672
  rabbitmq-url: YW1xcDovL2d1ZXN0Omd1ZXN0QHJhYmJpdG1xLXNlcnZpY2U6NTY3Mg==
  
  # MONGO_URI: mongodb://mongo-service.todo-app.svc.cluster.local:27017/chefmatch
  mongo-uri: bW9uZ29kYjovL21vbmdvLXNlcnZpY2UudG9kby1hcHAuc3ZjLmNsdXN0ZXIubG9jYWw6MjcwMTcvY2hlZm1hdGNo